<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.prj.RecBoardMapper">
<!-- namespace : 주로 dao 클래스와 연결하기 위한 키로 사용 -->
	<!-- 
	컬럼이름 : mybatis-config.xml의 name
	${컬럼이름} : DB 테이블의 열 - mybatis에서 설정한 DB컬럼명
	#{컬럼이름} : 입력받은 데이터 - 자바 변수명
	 -->
	<!-- DB 쿼리 작성 -->
	<!-- id : dao의 메소드와 연결하기 위해 사용 -->
	<!-- 로그인 -->
	<select id="login" resultType="RecBoardVO">
		select ${userid}, ${password}
		from ${recruit_table}
		where ${userid} = #{userid}
		and ${password} = #{password}
	</select>
	
	<insert id="insert">
		insert into ${recruit_table} 
		(${recruit_title}, 
		${userid}, 
		${career}, 
		${education}, 
		${salary}, 
		${work_area}, 
		${position}, 
		${workday},
		${responsibility},
		${eligibility},
		${recruitstep},
		${requireddoc},
		${applyway},
		${applyperiod},
		${rname}) 
		values 
		(#{recruit_title}, 
		#{userid}, 
		#{career}, 
		#{education}, 
		#{salary}, 
		#{work_area}, 
		#{position}, 
		#{workday},
		#{responsibility},
		#{eligibility},
		#{recruitstep},
		#{requireddoc},
		#{applyway},
		#{applyperiod},
		#{rname}) 
	</insert>
	
	<select id="select_all" resultType="RecBoardVO">
		select * from ${recruit_table}
		order by ${rno} desc
	</select>
	
	<select id="select_by_recruit_bno" resultType="RecBoardVO">
		select * from ${recruit_table}
		where ${rno} = #{rno}
		order by ${rno} desc 
	</select>
	
	<select id="select_by_work_area" resultType="RecBoardVO">
		select * from ${recruit_table}
		where ${work_area} = #{work_area}
	</select>
	
	<select id="select_by_career" resultType="RecBoardVO">
		select * from ${recruit_table}
		where ${career} = #{career}
	</select>
	
	<select id="select_by_salary" resultType="RecBoardVO">
		select * from ${recruit_table}
		where ${salary} = #{salary}
	</select>
	
	<select id="select_by_position" resultType="RecBoardVO">
		select * from ${recruit_table}
		where ${position} = #{position}
	</select>
	
	<delete id="delete">
		delete from ${recruit_table}
		where ${rno} = #{rno}
	</delete>
	
	 <select id="total_count" resultType="Integer">
	 	select count(*) total_cnt from ${recruit_table}
	 </select>
	 
	 <select id="paging" resultType="RecBoardVO">
	 	select 
	 	b.${rno}, b.${recruit_title}, b.${userid}, b.${r_date}, b.${rhit} 
	 	from ( 
	 		select rownum rn, a.* 
	 		from (
	 			select * from ${recruit_table} order by ${rno} desc 
	 		)a
	 	)b 
	 	where rn between #{start} and #{end}
	 </select>
	 
	 <!-- 게시판 조회수 -->
	 <update id="boardHit" parameterType="Integer">
    	UPDATE ${recruit_table} SET
    	RHIT = RHIT+1
    	WHERE ${rno} = #{rno}
    </update>
    
    <!-- 게시글 검색 -->
    <!-- 유저아이디 검색 -->
    <select id="selectByUserid" resultType="RecBoardVO">
         select * from ${recruit_table}
         where ${userid} like #{userid}
     </select>
     
     <!-- 제목 검색 -->
     <select id="selectBykeyword" resultType="RecBoardVO">
         select * from ${recruit_table}
         where ${recruit_title} like #{keyword} or
         	${responsibility} like #{keyword} or
         	${eligibility} like #{keyword}
     </select>
     
     <select id="selectByworkarea" resultType="RecBoardVO" parameterType="String">
         select * from ${recruit_table}
         where ${work_area} like #{work_area}
     </select>
	
	<!-- 
		resultType : select를 했을 때 리턴하는 레코드 타입 선언
		- 일반적으로 패키지 이름을 포함한 전체경로의 클래스 이름을 사용해야함
		- mybatis-config.xml에서 typeAliases 속성을 package로 정의하여
		  클래스 이름만 사용
	 -->
	 
	 
</mapper>